/* ===== ESTILOS GENERALES ===== */
* {
     text-align: center;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    min-height: 100vh;
}

#contenido {
    margin:0 20px;
}

/* ===== NAVEGACIÓN ===== */
nav {
    background-color: #222;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #00ff99;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ff99;
}

/* ===== CABECERA ===== */
header {
    background-color: black;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
}

header h1 {
    text-align: center;
    color: #00ff99;
    text-shadow: 0 0 10px #00ff99;
}

/* FORMULARIO */
#tabla {
    padding: 20px;
}

form {
    max-width: 600px;
    margin: auto;
}

label {
    display: inline-block;
    width: 200px;
}

input, textarea {
    padding: 5px;
    margin-top: 5px;
}

/* BOTONES */
input[type="submit"],
input[type="reset"] {
    color: #111;
    padding:10px;
    margin: 10px;
    background-color: #00ff99;
    border-radius: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: white;
}

/* INDEX */

details {
    padding: 10px;
    background-color: #222;
    cursor: pointer;
}

figcaption {
    margin-top: 10px;
    font-size: 14px;
}

/* ===== FOOTER ===== */
footer {
    background-color: #222;
    padding: 10px;
}

footer p {
    text-align: center;
    color: #070707;
    margin: 0;
}

/* Audio */
audio {
    padding: 10px;
    background-color: #222;
}

/* ===== GALERÍA ===== */
/* Centrar la tabla de la galería */
table {
    margin: auto;
    border-spacing: 20px;
}

/* Estilo de las imágenes */
figure {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #00ff99;
}

/* TABLA */
#tabla {
    margin: 50px auto;
    border-collapse: collapse;
    border: 2px solid #00ff99;
}

#tabla th,
#tabla td {
    border: 1px solid #00ff99;
    padding: 8px;
}